/* Fonts */
@font-face {
    font-family: 'advanced_led_board-7regular';
    src: url('../fonts/types/advanced_led_board-7-webfont.eot');
    src: url('../fonts/types/advanced_led_board-7-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/types/advanced_led_board-7-webfont.woff2') format('woff2'),
        url('../fonts/types/advanced_led_board-7-webfont.woff') format('woff'),
        url('../fonts/types/advanced_led_board-7-webfont.ttf') format('truetype'),
        url('../fonts/types/advanced_led_board-7-webfont.svg#advanced_led_board-7regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alphasmart_3000regular';
    src: url('../fonts/types/alphasmart3000-webfont.eot');
    src: url('../fonts/types/alphasmart3000-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/types/alphasmart3000-webfont.woff2') format('woff2'),
        url('../fonts/types/alphasmart3000-webfont.woff') format('woff'),
        url('../fonts/types/alphasmart3000-webfont.ttf') format('truetype'),
        url('../fonts/types/alphasmart3000-webfont.svg#alphasmart_3000regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'led_calculatorregular';
    src: url('../fonts/types/ledcalculator-webfont.eot');
    src: url('../fonts/types/ledcalculator-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/types/ledcalculator-webfont.woff2') format('woff2'),
        url('../fonts/types/ledcalculator-webfont.woff') format('woff'),
        url('../fonts/types/ledcalculator-webfont.ttf') format('truetype'),
        url('../fonts/types/ledcalculator-webfont.svg#led_calculatorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'llpixelregular';
    src: url('../fonts/types/llpixel3-webfont.eot');
    src: url('../fonts/types/llpixel3-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/types/llpixel3-webfont.woff2') format('woff2'),
        url('../fonts/types/llpixel3-webfont.woff') format('woff'),
        url('../fonts/types/llpixel3-webfont.ttf') format('truetype'),
        url('../fonts/types/llpixel3-webfont.svg#llpixelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{overflow: hidden;}
html,body{height:100%;}
body{
    background-image:url('../img/extras/background.png');
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.fill{
    background-image:url('../img/extras/generalbg.png');
    background-position: center center;
    background-size:cover;
}
.mission-selection, .fill{
    width:100%;
    height:100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.carousel-control{
    max-width: 60px;
}

.carousel-control img{
    width: 56px;
    height: 56px;
    display: block;
    position: absolute;
    top: 44%;
}

#stages .carousel-control.left,
#stages .carousel-control.right{
    background: transparent !important; 
    background-image: none !important;
    filter: transparent !important;
    background-repeat: no-repeat;
}

.stage-select{
    display: block;
    min-width: 240px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    vertical-align: bottom;
}

.stage-select img, .stage-select h1{
    text-align: center;
    margin: 0 auto;
}

.stage-select img{
    vertical-align: bottom;
    display: table-cell;
}

.stage-select h1{
    width: 100%;
}

.stage-profile{
    margin-top: 4px !important;
}

.container-fixer{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.carousel .container {
    height: 100%;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.levels{
    margin-top: 30px;
    margin-right: 22px;
    margin-left: 22px;
    margin-bottom: 0px;
}

.levels span{
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
}

.levels .thumbnail span {
    border-color: #3eff15;
}

.levels a.thumbnail {
    max-width: 90px;
    max-height: 100px;
    background: transparent !important;
    text-align: center;
    vertical-align: middle;
    border-color: #3eff15;
    color: #3eff15;
    padding-top: 22px;
    padding-bottom: 22px;
    display: inline-block;
    font-family: 'advanced_led_board-7regular';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 4px;
    margin-left: 0px;
}

.levels .option-last{
    margin-right: 0px !important;
}

.levels a.thumbnail.active, .levels a.thumbnail:focus, .levels a.thumbnail:hover {
    border-color: #FFF;
    color: #FFF;
    background: rgba(62, 255, 21, .5);
}

.levels a {
    padding: 0;
    color: #FFF;
    background: transparent !important;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

/* Splash animation */
.splash-animation{
    width: 100%;
    height: 100%;
    display: block;
}

.splash-animation img{
    margin: 160px auto;
    display: block;
    vertical-align: middle;
}

.splash-animation nav{
    opacity: 0;
    width:100%;
    height:100%;
    position:absolute;
    /*    top:25%;*/
}

nav:nth-child(1) {
    -webkit-animation: xfade 4s 0s;
    -moz-animation: xfade 4s 0s;
    -ms-animation: xfade 4s 0s;
    -o-animation: xfade 4s 0s;
    animation: xfade 4s 0s;
}

nav:nth-child(2) {
    -webkit-animation: xfade 8s 4s;
    -moz-animation: xfade 8s 4s;
    -ms-animation: xfade 8s 4s;
    -o-animation: xfade 8s 4s;
    animation: xfade 8s 4s;
}

@keyframes xfade{
    50% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
    }

    100% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
    }
}

#startscreen{
    width:100%;
    height: 100%;
}

/* Menu */
.main-menu{

}
.main-menu img, 
.main-menu .menubtn,
.main-menu .socialbtn{
    margin: 0 auto;
    height: auto;    
}
.main-menu .logo{

}
.main-menu .social-block{
    /*    display: inline-block !important;*/
    margin-top: 26px;
}
.main-menu .socialbtn{
    /*    display: inline-block !important;*/
    /*    margin-top: 14px;*/
}

.modal-menu{
    background-image: url('../img/extras/generalbg.png');
    background-position: center center;
    background-size: cover;
    min-height: 560px;
    max-height: 588px;
    display: block;
    background-color: transparent !important;
    border: 4px solid #528a3f;
    border-radius: 46px;
}

.modal-menu .modal-header,
.modal-menu .modal-body{
    margin: 25px 27px;
    border-bottom: 0px !important;
}

.modal-menu .modal-body{
    margin-top: 75px;
}

.modal-body p{
    text-align: center;
    margin-top: 25px;
}

.modal-body p img{
    margin: 15px;
}

.close-modal{
    max-width: 60px;
    height: auto;
}

.modal-menu p:nth-child(1) a {
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

.modal-menu p:nth-child(2) a:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
            0 0 20px  #fff,
            0 0 30px  #fff,
            0 0 40px  #FF1177,
            0 0 70px  #FF1177,
            0 0 80px  #FF1177,
            0 0 100px #FF1177,
            0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px #FF1177,
            0 0 35px #FF1177,
            0 0 40px #FF1177,
            0 0 50px #FF1177,
            0 0 75px #FF1177;
    }
}

/* old css custom */

body{
    height: 100%;
    width:100%;
    margin: 0px !important;   
}

.logo{
    margin-top: 60%
}

.lead {
    margin-top: 500px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.splash {
    background: url("../img/extras/background.png") center center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 360px;
    z-index: 999;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.play {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 56%;
    left: 53.5%;
    margin-top:-50px;
    margin-left:-50px;
}

.shop{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 76%;
    left: 38%;
    margin-top:-50px;
    margin-left:-50px;
}

.option{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 76%;
    left: 70%;
    margin-top:-50px;
    margin-left:-50px;
}

.socialFB{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 92%;
    left: 39%;
    margin-top:-50px;
    margin-left:-50px;
}

.socialTW{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 92%;
    left: 45%;
    margin-top:-50px;
    margin-left:-50px;
}

.link{
    width: 80px;
    height: 60px;
    position: absolute;
    top: 92%;
    left: 62%;
    margin-top:-50px;
    margin-left:-50px;
}

.centro{
    position:absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12%;
    margin-left: -16%;
}

.btnOptions{
    width: 60px;
    height: 60px;
}

#element_to_pop_up { 
    background-color: #000;
    border-radius: 15px;
    color: #F3F;
    display: none; 
    padding: 20px;
    min-width: 400px;
    min-height: 180px;
    top: 30px;
}

.b-close{
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;

}